</head>
<body>
<div class="container">
    <div class="menu">
        <nav>
            <ul>
                <li><a href="main">VP2_ZlydnevaS</a></li>
                <li><a href="registration">Регистрация</a></li>
                {{ userImages|raw }}
                {{ listUsers |raw}}
                {{ listImages |raw}}
            </ul>
        </nav>
    </div>